Repository ClimateImpactLab/downscaleCMIP6, pull requests merged in 2022-03, with the labels that each got.

#591 Bump argo workflows
  infrastructure/kubernetes-gcp/argo/kustomization.yaml
Labels: infrastructure

#592 fix typo in EC-Earth3 pr parameter file
  workflows/parameters/EC-Earth3-pr.yaml
Labels: parameter file

#590 Simplify QC workflow replacing script with dodola v0.18.0 command
  workflows/templates/qualitycontrol-check-cmip6.yaml
Labels: enhancement

#593 workflowtemplate to regrid cleaned cmip6 data
  workflows/regrid-cmip6.yaml
  workflows/regrid-era5.yaml
Labels: enhancement

#595 Upgrade ArgoCD for CVE-2022-24348 patch
  infrastructure/kubernetes-gcp/argo/README.md
Labels: bug, infrastructure

#596 Fix workflow manifest typo
  workflows/regrid-era5.yaml
Labels: bug

#597 Drop infra depending on AKS cluster
  infrastructure/terraform/az-core/main.tf
  infrastructure/terraform/az-core/modules/kubernetes_internal/main.tf
  infrastructure/terraform/az-core/outputs.tf
Labels: infrastructure

#598 Remove unused AKS kubernetes_internals module setup
  infrastructure/terraform/az-core/README.md
  infrastructure/terraform/az-core/main.tf
  infrastructure/terraform/az-core/outputs.tf
Labels: infrastructure

#599 Remove cruft AKS cluster resource
  infrastructure/terraform/az-core/main.tf
Labels: infrastructure

#600 Remove cruft AKS terraform and kubernetes resources
  infrastructure/kubernetes-az/README.md
  infrastructure/kubernetes-az/argo-events/README.md
  infrastructure/kubernetes-az/argo-events/kustomization.yaml
  infrastructure/kubernetes-az/argo/argo-server-ingress.yaml
  infrastructure/kubernetes-az/argo/kustomization.yaml
  infrastructure/kubernetes-az/argo/patches/argo-server-deployment.yaml
  infrastructure/kubernetes-az/argo/patches/workflow-controller-configmap.yaml
  infrastructure/kubernetes-az/argo/sso-secrets/client-id-externalsecret.yaml
  infrastructure/kubernetes-az/argo/sso-secrets/client-secret-externalsecret.yaml
  infrastructure/kubernetes-az/argo/sso-secrets/kustomization.yaml
  infrastructure/kubernetes-az/cert-manager/README.md
  infrastructure/kubernetes-az/cert-manager/kustomization.yaml
  infrastructure/kubernetes-az/cert-manager/letsencrypt-prod-clusterissuer.yaml
  infrastructure/kubernetes-az/cert-manager/letsencrypt-staging-clusterissuer.yaml
  infrastructure/kubernetes-az/ingress-nginx/.helmignore
  infrastructure/kubernetes-az/ingress-nginx/Chart.yaml
  infrastructure/kubernetes-az/ingress-nginx/README.md
  infrastructure/kubernetes-az/ingress-nginx/values.yaml
  infrastructure/kubernetes-az/kubernetes-external-secrets/.helmignore
  infrastructure/kubernetes-az/kubernetes-external-secrets/Chart.yaml
  infrastructure/kubernetes-az/kubernetes-external-secrets/README.md
  infrastructure/kubernetes-az/kubernetes-external-secrets/values.yaml
  infrastructure/kubernetes-az/minio/.helmignore
  infrastructure/kubernetes-az/minio/Chart.yaml
  infrastructure/kubernetes-az/minio/values.yaml
  infrastructure/kubernetes-az/workflows-default/events/default-eventbus.yaml
  infrastructure/kubernetes-az/workflows-default/events/kustomization.yaml
  infrastructure/kubernetes-az/workflows-default/events/rbac/argoworkflow-trigger-role.yaml
  infrastructure/kubernetes-az/workflows-default/events/rbac/argoworkflow-trigger-rolebinding.yaml
  infrastructure/kubernetes-az/workflows-default/events/rbac/argoworkflow-trigger-sa.yaml
  infrastructure/kubernetes-az/workflows-default/events/rbac/argoworkflow-watcher-role.yaml
  infrastructure/kubernetes-az/workflows-default/events/rbac/argoworkflow-watcher-rolebinding.yaml
  infrastructure/kubernetes-az/workflows-default/events/rbac/argoworkflow-watcher-sa.yaml
  infrastructure/kubernetes-az/workflows-default/events/rbac/kustomization.yaml
  infrastructure/kubernetes-az/workflows-default/events/workflowsuccess-eventsource.yaml
  infrastructure/kubernetes-az/workflows-default/kustomization.yaml
  infrastructure/kubernetes-az/workflows-default/rbac/daskkubernetes-role.yaml
  infrastructure/kubernetes-az/workflows-default/rbac/daskkubernetes-rolebinding.yaml
  infrastructure/kubernetes-az/workflows-default/rbac/kustomization.yaml
  infrastructure/kubernetes-az/workflows-default/rbac/workflow-role.yaml
  infrastructure/kubernetes-az/workflows-default/rbac/workflow-rolebinding.yaml
  infrastructure/kubernetes-az/workflows-default/rbac/workflows-dask-serviceaccount.yaml
  infrastructure/kubernetes-az/workflows-default/rbac/workflows-default-serviceaccount.yaml
  infrastructure/kubernetes-az/workflows-default/workflowtemplates/biascorrectdownscale.yaml
  infrastructure/kubernetes-az/workflows-default/workflowtemplates/catalog.yaml
  infrastructure/kubernetes-az/workflows-default/workflowtemplates/clean-cmip6.yaml
  infrastructure/kubernetes-az/workflows-default/workflowtemplates/clean-era5.yaml
  infrastructure/kubernetes-az/workflows-default/workflowtemplates/distributed-regrid.yaml
  infrastructure/kubernetes-az/workflows-default/workflowtemplates/download-cmip6.yaml
  infrastructure/kubernetes-az/workflows-default/workflowtemplates/kustomization.yaml
  infrastructure/kubernetes-az/workflows-default/workflowtemplates/zarr-transfer.yaml
  infrastructure/terraform/az-core/modules/aks_cluster/main.tf
  infrastructure/terraform/az-core/modules/aks_cluster/outputs.tf
  infrastructure/terraform/az-core/modules/aks_cluster/variables.tf
  infrastructure/terraform/az-core/modules/kubernetes_internal/main.tf
  infrastructure/terraform/az-core/modules/kubernetes_internal/variables.tf
Labels: documentation, infrastructure

#603 Migrate workflow to use dodola container images from GHCR
  workflows/templates/biascorrectdownscale-dtr.yaml
  workflows/templates/biascorrectdownscale-precipitation.yaml
  workflows/templates/biascorrectdownscale.yaml
  workflows/templates/catalog.yaml
  workflows/templates/clean-cmip6.yaml
  workflows/templates/clean-era5.yaml
  workflows/templates/compute-dtr.yaml
  workflows/templates/create-output-metadata-json.yaml
  workflows/templates/create-pr-references.yaml
  workflows/templates/distributed-regrid.yaml
  workflows/templates/download-cmip6.yaml
  workflows/templates/qdm-preprocess.yaml
  workflows/templates/qdm.yaml
  workflows/templates/qplad.yaml
  workflows/templates/qualitycontrol-check-cmip6.yaml
  workflows/templates/rechunk.yaml
  workflows/templates/regrid.yaml
  workflows/templates/zarr-transfer.yaml
Labels: enhancement

#606 Update ERA-5 to ERA5
  README.rst
  workflows/templates/clean-cmip6.yaml
  workflows/templates/qdm-preprocess.yaml
Labels: documentation

#608 Add READMEs to infra and workflow dirs
  infrastructure/README.md
  workflows/README.md
  workflows/parameters/README.md
  workflows/templates/README.md
Labels: documentation
